body {
  background: #fff;
  font-size: 11pt;
  font-family: sans-serif;
}

@media all and (min-width: 960px) {
    body{
        font-size: 11pt;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 12pt;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 14pt;
    }

}

.content-column {
  padding: 30px;
  border:1px solid;
  margin:10px;
}
.content-column-footer {
  padding: 50px;
  border:1px solid;
  margin:10px;
}
.content-column-footer-rights {
  padding-top: 25px;
  border:1px solid;
  height: 80px;
  margin:10px;
}

md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #ffffff;
}
.img-container{
  padding: 15px;
}

/* Wrapper */

	.wrapper {
		padding: 6em 0em 4em;
		/* Style 1 Wrapper */
		/* Style 2 Wrapper */
		/* Style 3 Wrapper */
	}

		.wrapper.style1 {
			background-color: #F5F5F5;
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
		}

			.wrapper.style1 .box {
				background-color: #fff;
				padding: 3em 2.5em;
			}

				.wrapper.style1 .box h2, .wrapper.style1 .box h3, .wrapper.style1 .box h4, .wrapper.style1 .box h5, .wrapper.style1 .box h6 {
					color: #858585;
				}

		.wrapper.style2 .profiles {
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
			margin-bottom: 4em;
			padding-top: 4em;
		}

		.wrapper.style2 .profile {
			margin-bottom: 2em;
			text-align: left;
		}

			.wrapper.style2 .profile img {
				border-radius: 50%;
				float: left;
				margin-bottom: 1em;
				margin-right: 1em;
			}

			.wrapper.style2 .profile h4 {
				margin-bottom: 0;
				margin-top: 1em;
			}

		.wrapper.style2 footer {
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}

			.wrapper.style2 footer p {
				margin-bottom: 3em;
			}

		.wrapper.style3 {
			background-color: #3cadd4;
			color: #ffffff;
		}

			.wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 p {
				color: #ffffff;
			}

			.wrapper.style3 input[type="text"],
			.wrapper.style3 input[type="password"],
			.wrapper.style3 input[type="email"],
			.wrapper.style3 select,
			.wrapper.style3 textarea {
				background-color: #fff;
				color: #444;
			}
