@charset "UTF-8";
@import url(font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

body {
  background: #fff;
  font-size: 11pt;
}

@media all and (min-width: 960px) {
    body{
        font-size: 11pt;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 12pt;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 14pt;
    }

}

div.logo{
  height:80px;
  content: url('../images/Logo-DAEN-250.png');
  padding: 10px;
  margin:10px;
}

md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #555f66;
}

.content-column {
  padding: 30px;
  border:1px solid;
  margin:10px;
}
.content-column-footer {
  padding: 50px;
  border:1px solid;
  margin:10px;
}
.content-column-footer-rights {
  padding-top: 25px;
  border:1px solid;
  height: 80px;
  margin:10px;
}


.img-container{
  padding: 15px;
}

.black-background{
  background: #192024;
}

a.icon {
    color: #ffffff;
    font-size: 0.65em;
    height: 4em;
    line-height: 4em;
    width: 4em;
    cursor: pointer;
}
.icon.rounded {
    background-color: #383b43;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    height: 3.25em;
    line-height: 3.25em;
    text-align: center;
    width: 3.25em;
}
.icon.rounded.fa-twitter {
    background-color: #2daae4;
}
