body {
  background: #fff;
  font-size: 11pt;
  font-family: sans-serif;
}

@media all and (min-width: 960px) {
    body{
        font-size: 11pt;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 12pt;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 14pt;
    }

}

.content-column {
  padding: 30px;
  border:1px solid;
  margin:10px;
}
.content-column-footer {
  padding: 50px;
  border:1px solid;
  margin:10px;
}
.content-column-footer-rights {
  padding-top: 25px;
  border:1px solid;
  height: 80px;
}

md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #ffffff;
}
.img-container{
  padding: 15px;
}
