<div flex layout="column" layout-md="column" layout-xs="column">
  <div class="content-column">
    <h2>Full Width Content Component</h2>
    Curabitur consequat tincidunt lectus, vitae posuere mauris bibendum sed. Ut at commodo sapien, sed pulvinar magna. Nam consequat commodo diam tempus congue. Suspendisse quis eros ac mi hendrerit dignissim. Aenean mollis nunc a elit lacinia lobortis non in sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut auctor leo erat, et maximus urna pharetra vitae. Vivamus a condimentum est. Maecenas quis sodales metus, vitae maximus eros. Nullam semper sit amet sapien vitae dapibus. In sit amet orci ullamcorper, accumsan tortor quis, varius sapien. Donec laoreet dignissim augue, eu cursus felis iaculis non. Duis vel eros ullamcorper, tincidunt elit ac, hendrerit sapien. Duis libero sem, tempus ac tortor in, scelerisque finibus dui. Sed eu ipsum sapien. In feugiat eros sed sem condimentum, sed blandit eros malesuada.

  Praesent nec porttitor tortor. Quisque tincidunt nulla vitae neque tincidunt, semper pharetra felis sagittis. Morbi ullamcorper commodo bibendum. In hac habitasse platea dictumst. Mauris gravida quam imperdiet nunc pretium euismod. Morbi quis eros eget nibh commodo gravida id in dui. Praesent quis lectus vel dui accumsan eleifend. Suspendisse ac nulla purus. Donec ullamcorper et erat id tincidunt.
  </div>
</div>
