<div flex layout="column" class="{{$ctrl.data.class}}">
  <div ng-if="$ctrl.data.title != null" flex layout="column" layout-md="column" layout-xs="column" class="{{$ctrl.data.styles}}">
    <h2>{{$ctrl.data.title}}</h2>
  </div>
  <div ng-if="$ctrl.data.description != null" flex layout="column" layout-md="column" layout-xs="column" class="subcontent-title">
    {{$ctrl.data.description}}
  </div>
  <div flex layout="row" layout-md="column" layout-xs="column">
    <div flex class="content-column" >
      <h4>{{$ctrl.data.colOne.title}}</h4>
        <span ng-repeat="c in $ctrl.data.colOne.content" style="text-align:center !important">
          <li ng-if="c.elementType === 'icon'" class="{{c.class}}"></li>
          <p ng-if="c.elementType === 'p'">{{c.text}}</p>
          <img ng-if="c.elementType === 'img'" src="{{c.src}}" class="{{c.class}}"/>
          <ul ng-if="c.elementType === 'ul'" class="{{c.class}}">
            <li ng-repeat="l in c.list">{{l.label}}</li>
          </ul>
        </span>
      <!--<ul>
        <li>Konica Minolta</li>
        <li>Sharp</li>
        <li>Panasonic </li>
      </ul>-->
    </div>

    <div flex class="content-column" >
      <h4>{{$ctrl.data.colTwo.title}}</h4>
      <span ng-repeat="c in $ctrl.data.colTwo.content">
        <li ng-if="c.elementType === 'icon'" class="{{c.class}}"></li>
        <p ng-if="c.elementType === 'p'">{{c.text}}</p>
        <img ng-if="c.elementType === 'img'" src="{{c.src}}" class="{{c.class}}"/>
        <ul ng-if="c.elementType === 'ul'" class="{{c.class}}">
          <li ng-repeat="l in c.list">{{l.label}}</li>
        </ul>
      </span>
<!--
      <ul>
        <li>Centro de descargas</li>
        <li>Servicio técnico</li>
        <li>Garantías </li>
      </ul>
    -->
    </div>

    <div flex class="content-column">
      <h4>{{$ctrl.data.colThree.title}}</h4>
      <span ng-repeat="c in $ctrl.data.colThree.content">
        <li ng-if="c.elementType === 'icon'" class="{{c.class}}"></li>
        <p ng-if="c.elementType === 'p'">{{c.text}}</p>
        <img ng-if="c.elementType === 'img'" src="{{c.src}}" class="{{c.class}}"/>
        <ul ng-if="c.elementType === 'ul'">
          <li ng-repeat="l in c.list">{{l.label}}</li>
        </ul>
      </span>
      <!--
      <p>Contáctanos a traves de nuestras redes sociales</p>
      <ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
				</ul>
      -->
    </div>
  </div>
</div>
