<div flex layout="column" class="{{$ctrl.data.class}}">
    <h2>{{$ctrl.data.title}}</h2>
    <div flex layout="row" layout-md="column" layout-xs="column" >

      <div flex class="content-column">
        <li class="icon rounded major fa-exclamation-triangle"> <a> </a></li>
        <h3>{{$ctrl.data.colOne.title}}</h3>
        <!--
          <li class="icon fa-cog major"> </li>
          <li class="icon rounded fa-twitter"> <a> </a></li>
          <li class="icon rounded fa-bars"> <a> </a></li>
        -->
          {{$ctrl.data.colOne.content}}
    </div>
      <div flex class="content-column">
        <li class="icon rounded major fa-ambulance"> <a> </a></li>
        <h3>{{$ctrl.data.colTwo.title}}</h3>
            {{$ctrl.data.colTwo.content}}
          </div>
    </div>
</div>
