<!--<style>
.footer {
  /*
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    */
    background-color: #192024;
    text-align: center;
}
</style>

<div flex layout="row" layout-md="column" layout-xs="column" class="footer">
  <div class="content-column-footer" flex>Nam et volutpat felis. Aliquam ut cursus augue. In hac habitasse platea dictumst. Praesent faucibus placerat diam, ut porttitor metus luctus nec. </div>
  <div class="content-column-footer" flex>Maecenas elementum sed justo ac laoreet. Maecenas rhoncus, augue a porttitor pharetra, leo tellus dapibus magna, quis ullamcorper lorem ex in neque. </div>
  <div class="content-column-footer" flex>Suspendisse placerat velit vitae nulla vulputate, ut aliquam enim faucibus. Ut porta sapien tempus mauris efficitur commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
</div>
<div flex layout="row" layout-md="column" layout-xs="column" class="footer">
  <div flex class="content-column-footer-rights">&copy; 2018. DAEN. Diseño, artículos y equipos para negocios. Todos los derechos reservados.</div>
</div>
-->
<div flex layout="column">
    <app-three-cols data="$ctrl.footer"></app-three-cols>
    <app-full-content data="$ctrl.copyright"></app-full-content>
</div>
