<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
</style>
<ul>
    <li><a href="#!/">Inicio</a></b></li>
    <li><a href="#!/nosotros">Nosotros</a></li>
    <li><a href="#!/productos">Productos</a></li>
    <li><a href="#!/servicios">Servicios</a></li>
    <li><a href="#!/soporte">Soporte</a></li>
    <li><a href="#!/contacto">Contacto</a></li>
</ul>
